
*{
    background-color: aliceblue;
}
.div{
    height:18rem;
    width:18rem;
    background-color: rgb(252, 77, 8);
    border-radius: 10rem;
    margin-left: 35rem;
    box-shadow: 2px 0px 5px black;
    margin-top: 10rem;
    

}

.btn{
    margin-left: 41rem;
    margin-top: 5rem;
    border-radius: 5rem;
    border-color: rgb(58, 120, 182);
    font-size: 1.21rem;
}
